@font-face { font-family: play; src: url('../fonts/Play-Regular.ttf'); }
@font-face { font-family: jura; src: url('../fonts/Jura-Regular.ttf'); }
@font-face { font-family: circuit; src: url('../fonts/CIRCUIT.ttf'); }
@font-face { font-family: gunship-con; src: url('../fonts/gunship-condensed.ttf'); }
@font-face { font-family: gunship-reg; src: url('../fonts/gunship-Reg.ttf'); }
@font-face { font-family: gunship; src: url('../fonts/gunship-condensed-italic.ttf'); font-style: italic;}



html{
	width: device-width;
	max-width: 90%;
	margin: auto;
	background-image: url('../resources/circuitBG.png');
}

header{
	font-family: gunship-con;
	max-width: 91%;
	margin: 20px auto 10px auto;
	padding: 10px;
	border-radius: 10px;
	background-color:#eaba2c;
	color: #1264af;
}

footer{
	font-family: gunship-con;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	background-color:#eaba2c;
	color: #1264af;
}

body{
	font-family: play;
	max-width: 100%;
	width: inherit;
	font-size: 1em;
	color: white;
	border: 5px solid #eaba2c;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: rgba(18, 100, 175, .9);
}

img{
	max-width: 100%;
}

a{
	color: inherit;
}

div.border{
	border: 5px solid #eaba2c;
	padding: 1%;
	max-width: 90%;
	margin: 20px auto 10px auto;
	background-color: rgba(18, 100, 175, 1);
	border-radius: 10px;
}

div.subborder{
	border: 5px solid #eaba2c;
	background-color: rgba(18, 100, 175, 1);
	max-width: 500px;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.nav {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

