@font-face { font-family: play; src: url('Play-Regular.ttf'); }
@font-face { font-family: jura; src: url('Jura-Regular.ttf'); }
body{
		font-family: play;
		color: #fff;
		border: 5px solid #eaba2c;
		padding: 10px;
		margin: 30px;
		border-radius: 10px;
		background-color: #1264af
	}
a{
		color: #fae845;
	}
p.imgBg{
		border: 5px solid #eaba2c;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		background-color: #1264af
	}
div.border{
		border: 5px solid #eaba2c;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		background-color: #1264af
	}
div.subborder{
			border: 5px solid #eaba2c;
			width: 500px;
			border-radius: 10px;
			background-color: #1264af
		}
